.gallery{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center; /*Galería Página*/
    align-items: center;
    margin: 50px 0;
  }

  .content{
    width: 22%;
    margin: 15px;
    box-sizing: border-box;
    float: left;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    padding-top: 10px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22); /*Contenido 0*/
    transition: 0.4s;
    background: #fff;
}

  .content1{
    width: 22%;
    margin: 15px;
    box-sizing: border-box;
    float: left;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    padding-top: 10px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22); /*Contenido 1*/
    transition: 0.4s;
    background: #fff;
    height: 438px;
}

  img{
    width: 200px;
    height: 200px; /*Imagen*/
    text-align: center;
    margin: 0 auto;
    display: block;
}

  .content:hover{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16),0 3px 6px rgba(0,0,0,0.23); /*Contenido seleccionable*/
    transform: translate(0px, -8px);
}
  
  *{
    margin: 0;
    padding: 0; /*Style dentro del index para el formulario*/
    font-family: 'poppins', sans-serif;}

  .banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.466), black ), url(logo26.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center; /*Propiedades fondo*/
    justify-content: center;
}


  p{
    color: black;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px; /*Propiedades párrafo*/
    padding: 10px;
}

  h1{
    font-size: 36px;
    font-weight: 600; /*Propiedades texto h1*/
    color: #fff;
}


  button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid lightslategrey;
    background: transparent;
    color: black;
    cursor: pointer;
    position: relative;
    overflow: hidden; /*Propiedades del botón*/
}

  span{
    background:  lightslategrey;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s; /*Barra inferior del botón*/
}

  button:hover span{
    width: 100%; /*Botón desplazable 1*/
}

  button:hover{
    border: none; /*Botón desplazable 2*/
}

  h5{
    color: white; /*Propiedades texto h5*/
}

  h4{
    color: white; /*Propiedades texto h4*/
}

  @media(max-width: 700px){
  .gallery{
    flex-direction: column; /*Adaptación otros dispositivos*/
    font-size: 20px;
    
}
}